---
layout: splash 
author_profile: false 
title: "Hi,My name is Mrityunjay"
header:
  overlay_color: "rgb(61, 61, 61)"
  #overlay_filter: "0.5"
  #overlay_image: "/assets/imgs/landing-page-header-img/MainPageLayout.png"
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'

excerpt: "I love <i>**learning**</i> new stuffs"
feature_row:
  - url: "/blog/artificial-intelligence/classical_ai.html"
    image_path: /assets/imgs/posts_imgs/classical_ai/teaser/botvshuman.jpeg
    alt: "placeholder image 1"
    title: "Classical AI"

  - url: "/blog/artificial-intelligence/machinelearning/rnns.html"
    image_path: /assets/imgs/posts_imgs/rnn_with_math/teaser/RNNunfolded.png
    alt: "placeholder image 2"
    title: "Understanding Recurrent Neural Nets"

  - url: "/blog/artificial-intelligence/machinelearning/lasvm-nc-part0-intro.html"
    image_path: /assets/imgs/posts_imgs/lasvm-nc/teaser/kernel_trick_svm.png
    alt: "placeholder image 3"
    title: "Understanding Research Paper: LASVM-NC"

feature_row2:
  - image_path: /assets/imgs/posts_imgs/svm-with-smo/teaser/jog_anim.gif
    alt: "placeholder image 2"
    title: "Reprocussive Generation of Convoy's Game of Life"
    excerpt: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, dolores sed repellendus molestiae tempora vel iusto similique? Libero nam sapiente at architecto, necessitatibus, numquam assumenda veritatis, corporis enim ex rem!"
    url: "/blog/artificial-intelligence/machinelearning/lasvm-nc-part1-svm_with_smo.html"
    btn_label: "Read More"
    btn_class: "btn--primary"

feature_row3:
  - image_path: /assets/imgs/site_imgs/pro_pic.jpg
    alt: "placeholder image 3"
    title: "About"
    excerpt: "This is my Story <br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, dolores sed repellendus molestiae tempora vel iusto similique? Libero nam sapiente at architecto, necessitatibus, numquam assumenda veritatis, corporis enim ex rem!"
    url: "/about/"
    btn_label: "Read More"
    btn_class: "btn--primary"

---

<!-- {% for post in site.posts %}
    <li><a href="{{post.url}}">{{post.title}}</a></li>
{% endfor %} -->

<style>
  #feature_row_container{
    padding: 1% 5%;
    
  }

  #main_about{
    padding: 05% 05%;
    background-color:gray;
  }

  #latest_post_container{
    padding: 5% 5%;
    margin: 0em 0em;
  }

    #latest_post_container, A:hover{
      color:gray;
    }

  hr{
    
    border-top: 1px solid #555555;
  }

 
  .page__hero{

  };
</style>

  


{% comment %} {% include feature_row id="intro" type="center" %} {% endcomment %}

<h1 style="border-bottom: 1px solid #555;">Latest Post</h1>




<div id="latest_post_container">

<div class="feature__wrapper">

    <div class="feature__item--right">
      <div class="archive__item">
        
        <!-- side Image -->
          <div class="archive__item-teaser">
            <img src="/assets/imgs/posts_imgs/svm-with-smo/teaser/svm_for_front_page.jpg" alt="placeholder image 2">
            
          </div>

        <div class="archive__item-body">
          
            <a href="/blog/artificial-intelligence/machinelearning/lasvm-nc-part1-svm_with_smo.html" >
              <h1 class="archive__item-title" style="font-size: xx-large;font-weight: bold;text-decoration-line: underline;/*! text-align: left; */text-emphasis-color: blue;/*! padng: 0% 0%; */">Support Vector Machine with SMO</h1>
            </a>
            <br>
            <div class="archive__item-excerpt" style="padding: 0% 0% 0% 10%">
              <p style="text-align: left;font-size:x-large;"></p>
so as you might know SVM stands for support vector machines.... its probabily the most successful hyperplane based classifier...what it means is that you are classifing 2 classes by constructing a hyperplane which seperate both of them as clearly as possible.



            </div>
          
          
            <!-- <p><a href="/#test-link" class="btn btn--primary">Read More</a></p> -->
        </div>
      </div>
    </div>
  

</div>

</div>


<div id="feature_row_container">
{% include feature_row id="feature_row"%}
</div>

<div style="text-align: center">
<a href="/blog/" style="position:0% 10%;border-style:solid;border-radius:4px; padding:15px 30px; " ><b>Visit Blog</b></a>
</div>
<br>
<!-- <h2>Portfolio:</h2>
<div id="portfolio_container" style="height: 300px"></div> -->

<!-- <hr style=""
    border-bottom: 4px solid #fff;
> -->
<hr>

<div id="main_about">
{% include feature_row id="feature_row3" type="left" %}
</div>