---
layout: default
---

<style>
  #feature_row_container{
    padding: 1% 5%;
    
  }

  #main_about{
    padding: 05% 05%;
    background-color:gray;
  }

  #latest_post_container{
    padding: 5% 5%;
    margin: 0em 0em;

  }

    #latest_post_container, A:hover{
      color:gray;
    }

  hr{
    
    border-top: 1px solid #555555;
  }

 
  .page__hero{

  };
</style>

  


{% comment %} {% include feature_row id="intro" type="center" %} {% endcomment %}

<h2 style="border-bottom: 1px solid #555;">Latest Post</h2>





<div id="latest_post_container">

<div class="feature__wrapper">

    <div class="feature__item--right">
      <div class="archive__item">
        
        <!-- side Image -->
          <div class="archive__item-teaser">
            <img src="/assets/imgs/form_mm/unsplash-gallery-image-2-th.jpg" alt="placeholder image 2" style="width: 800px;height: 500px;">
            
          </div>

        <div class="archive__item-body">
          
            <a href="#" >
              <h1 class="archive__item-title" style="font-size: xx-large;font-weight: bold;text-decoration-line: underline;/*! text-align: left; */text-emphasis-color: blue;/*! padng: 0% 0%; */">Reprocussive Generation of Convoy's Game of Life</h1>
            </a>
            <br>
            <div class="archive__item-excerpt" style="padding: 0% 0% 0% 10%">
              <p style="text-align: left;font-size:x-large;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, dolores sed repellendus molestiae tempora vel iusto similique? Libero nam sapiente at architecto, necessitatibus, numquam assumenda veritatis, corporis enim ex rem!</p>

            </div>
          
          
            <!-- <p><a href="/#test-link" class="btn btn--primary">Read More</a></p> -->
        </div>
      </div>
    </div>
  

</div>

</div>


<div id="feature_row_container">
{% include feature_row id="feature_row"%}
</div>

<!-- <h2>Portfolio:</h2>
<div id="portfolio_container" style="height: 300px"></div> -->

<!-- <hr style=""
    border-bottom: 4px solid #fff;
> -->
<hr>

<div id="main_about">
{% include feature_row id="feature_row3" type="left" %}
</div>