---
layout: single

---

<style>
    :root{
        background-color:#2b2b2b;
        color:white;
    }
    #my_traits{
        font-size:350%;
        margin-bottom: 50px;

    }
    #my_traints a:hover{
        color:red;
    }

    a:hover{
    }

</style>

<div id="my_traits">
<a href="https://www.artstation.com/mrityunjaybhardwaj">
<h1 >A R T .</h1>
</a>
</div>

<div id="my_traits">
<a href="https://github.com/MrityunjayBhardwaj">
<h1>C O D E</h1>
</a>
</div>
<!-- 
<div id="my_traits">
<a href="">
<h1>A.I.</h1>
</a>
</div>

<div id="my_traits">
<a href="">
<h1>Creative Coding</h1>
</a>
</div> -->